<div class="container">
  <div class="row">Received message from pod: {{podName}}</div>
  <div class="row">
      <div class="col-6">
          <input type="text" id="messageInput" [(ngModel)]="message" placeholder="Send Message"/>
          <button type="button" (click)="sendMessage()">Send</button>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <hr />
      </div>
  </div>
  <div class="row">
      <div class="col-6">
          <ul id="messagesList">
            <li *ngFor="let message of messages">
              {{message}}
            </li>
          </ul>
      </div>
  </div>
</div>